<h1>welcom to templat drivan forms</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="form-bg mt-5 col-md-6 justify-content-center">
      <form #regForm="ngForm" (ngSubmit)="Ragister(regForm)">
        <h2 class="text-center">Ragisteration Form</h2>
      <br>
        <div class="form-gorup mt-5">
          <input type="text" class="form-control" placeholder="First Name" name="firstname" required="" ngModel >
        </div>
        <div class="form-gorup mt-5">
          <input type="text" class="form-control" placeholder="Last Name" name="lastname" required ngModel  >
      
        </div>
        <div class="form-gorup mt-5"> 
          <input type="email" class="form-control" placeholder=" Email" name="email" email required ngModel #email="ngModel" >
          <span class="help-bpx " style="color: red;" *ngIf="email.touched && !email.valid" >please enter email</span>
        </div>
        <div class="justify-content-center  mt-5">
               <button class="btn btn-primary form-control" id="Ragister" [disabled]="!regForm.valid" >SUBMIT</button>
        </div>
      </form>
   </div>
   </div>
</div>
    